# Dependencies
node_modules/
backend/vendor/

# Build outputs
dist/
dist-ssr/

# Environment files
.env
.env*.local
backend/.env

# Logs and temporary files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
backend/writable/cache/*
!backend/writable/cache/index.html
backend/writable/logs/*
!backend/writable/logs/index.html
backend/writable/session/*
!backend/writable/session/index.html
backend/writable/uploads/*
!backend/writable/uploads/index.html
backend/writable/debugbar/*
!backend/writable/debugbar/index.html

# Editor & System
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
